<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/screen.css">
  </head>

  <body>
    <header>
      <div role="container">
        <img id="logo" src="/images/rocket.svg" alt="Rocket" width="100" height="100"/>
        <hgroup>
          <h1>Rocket</h1>
          <h2>a hybrid approach to real-time cloud applications</h2>
        </hgroup>
      </div>
    </header>

    <div role="container">
      <article>
        {{ content }}
      </article>

      <footer>
        <section class="syndication">
          <iframe src="http://ghbtns.com/github-btn.html?user=mattt&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="116" height="20"></iframe>

          <iframe src="http://ghbtns.com/github-btn.html?user=rocket&repo=rocket.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="102" height="20"></iframe>

          <a href="https://twitter.com/mattt" class="twitter-follow-button" data-show-count="false">Follow @mattt</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rocket.github.io" data-via="mattt">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </section>

        <p>Created by <a href="https://twitter.com/mattt">Mattt Thompson</a></p>
      </footer>
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '51f1a2d5613f5d1ec7000028');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
